[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
fastapi = "*"
requests = "*"
uvicorn = "*"
langchain = "*"
langchain-qdrant = "*"
python-telegram-bot = "*"
loguru = "*"
langchain-aws = "==0.2.13"
langgraph = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
