[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
requests = "*"
langchain = "*"
langchain-qdrant = "*"
loguru = "*"
langchain-aws = "==0.2.13"
langgraph = "==0.2.74"
langsmith = "*"
langchain-openai = "*"
fastapi = "*"
uvicorn = "*"
langgraph-checkpoint-mongodb = "*"
pymongo = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"

[scripts]
start = "python src/main.py"
